/* Icons */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #94c6eb;
  height: 100px;
  box-shadow: 0 0 50px rgba(209, 217, 229, 0.51);
}

.nav-links {
  position: absolute;
  right: 0;
  padding-block: 20px;
  z-index: 100;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}

/* Navbar Titles  */

.navbar-logo img {
  margin-top: 0;
  max-width: 70px;
  width: 10%;
  height: auto;
}

.nav-links a {
  font-size: x-large;
  font-weight: 300;
  text-decoration: none !important;
  color: #243435;
}
.nav-links a:active {
  font-size: x-large;
  font-weight: 300;
  text-decoration: none !important;
  color: #3b5355;
}
.nav-links a:hover {
  padding: 10px;
  background-color: #e6fdff;
  border-radius: 4px;
}
.navbar-logo {
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
