/* Icons */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100px;
}

.nav-links {
  position: absolute;
  padding-block: 10px;
  z-index: 100;
  list-style: none;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

/* Navbar Titles  */

.navbar-logo img {
  margin-top: 0;
  max-width: 70px;
  width: 10%;
  height: auto;
}

.nav-links a {
  font-size: x-large;
  font-weight: 300;
  text-decoration: none !important;
  color: #243435;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0 4px 12px rgba(209, 217, 229, 0.51);
  min-width: 100%;
}
.nav-links a:active {
  font-size: x-large;
  font-weight: 300;
  text-decoration: none !important;
  color: #3b5355;
}

.nav-links a:hover,
.nav-links a:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.nav-links a:hover {
  transform: translateY(-1px);
}

.nav-links a:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.navbar-logo {
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
